parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$extension of method League\\CommonMark\\Environment\\Environment\:\:addExtension\(\) expects League\\CommonMark\\Extension\\ExtensionInterface, object given\.$#'
			identifier: argument.type
			count: 1
			path: src/Markdown.php
