parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$extension of method League\\\\CommonMark\\\\Environment\\\\Environment\\:\\:addExtension\\(\\) expects League\\\\CommonMark\\\\Extension\\\\ExtensionInterface, object given\\.$#"
			count: 1
			path: src/Markdown.php

		-
			message: "#^Call to an undefined method Illuminate\\\\View\\\\ViewFinderInterface\\:\\:getPaths\\(\\)\\.$#"
			count: 1
			path: src/Support/ViewFactory.php

		-
			message: "#^Parameter \\#1 \\$view of class Lemaur\\\\Markdown\\\\Support\\\\ViewFactory constructor expects Illuminate\\\\View\\\\View, Illuminate\\\\Contracts\\\\View\\\\Factory\\|Illuminate\\\\Contracts\\\\View\\\\View given\\.$#"
			count: 1
			path: src/Support/ViewFactory.php
